<!DOCTYPE html>
<head>

<style>
   
    button{
        margin-right: 30px;
                    margin-top: 20px;
                    padding: 7px 22px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    border-radius: 10%;
                    }
</style>
</script>
</head>
<body>
    <h1>
    <center>
    Library Management System<br>
     Welcome
     <h3>Who is Using !!!</h3>
     <br>
     <h4>Reading amazing books expands knowledge, enhances creativity, and improves critical thinking.
        It allows you to explore different perspectives, cultures, and ideas
         while boosting vocabulary and communication skills. Whether for entertainment, 
        self-improvement, or learning, great books inspire and leave a lasting impact.</h4>
<form>
    <button type="button" onclick="window.location.href='http://127.0.0.1:8000/login'">ADMIN</button>
    <button type="button" onclick="window.location.href='http://127.0.0.1:8000/student'">STUDENT</button>
    
    </form>
</center></h1>
</body>
</html>

  